
@{
    ViewBag.Title = "ThemMoiSuaXoa";
    Layout = "~/Views/Shared/SharedLayout/ViewAdmin.cshtml";
}
@section Js{
    <script>
        var myController =
        {
            init: function () {
                myController.LoadTable();
                myController.RegesterEvent();

            },
            RegesterEvent: function () {
                $("#btn_Them").off('click').on('click', function () {
                    myController.SaveData();
                });
            },
            LoadTable: function () {
                $.ajax({
                    type: 'get',
                    datatype: 'json',
                    url: '/ThemMoiSuaXoa/LoadTable',
                    success: function (response) {
                        if (response.status == true) {
                            var lstData = response.lstData;
                            if (lstData != null && lstData.length > 0) {
                                $("#tbl_NhanVien").bootstrapTable('load', lstData);
                            } else {
                                $("#tbl_NhanVien").bootstrapTable('removeAll');
                            }

                        } else {
                            alert("đã có lỗi");
                        }
                    }
                });
            },
            SaveData: function () {
                var ho_ten = $("#ho_ten").val();
                var gioi_tinh = $("#gioi_tinh").val();
                var ngay_sinh = $("#ngay_sinh").val();
                var luong = $("#luong").val();
                var isTrangThai = $("#isTrangThai").prop('checked');
                $.ajax({
                    type: 'post',
                    datatype: 'json',
                    data: {
                        ho_ten: ho_ten,
                        gioi_tinh: gioi_tinh,
                        ngay_sinh: ngay_sinh,
                        luong: luong,
                        isTrangThai: isTrangThai,
                    },
                    url: '/ThemMoiSuaXoa/SaveData',
                    success: function (response) {
                        if (response.status == true) {
                            alert("thêm thành công");
                            myController.LoadTable();
                        }
                    },

                });
            },
            LoadDetal: function (idNhanVien) {
                $.ajax({
                    type: 'get',
                    datatype: 'json',
                    data: {
                        idNhanVien: idNhanVien
                    },
                    url: '/ThemMoiSuaXoa/LoadDetal',
                    success: function (response) {
                        if (response.status == true) {
                            var data = response.data;
                            if (data != null) {

                                $("#ho_ten").val(data.ho_ten);
                                $("#gioi_tinh").val(data.gioi_tinh);
                                $("#ngay_sinh").val(data.ngay_sinh);
                                $("#luong").val(data.luong);
                                $("#isTrangThai").prop('checked', data.isTrangThai);

                            }


                        } else {
                            alert("đã có lỗi");
                        }
                    }
                });
            },
            deleteData: function (idNhanVien) {
                $.ajax({
                    type: 'post',
                    datatype: 'json',
                    data: {
                        idNhanVien: idNhanVien
                    },
                    url: '/ThemMoiSuaXoa/deleteData',
                    success: function (response) {
                        if (response.status == true) {
                            alert("xóa thành công")
                            myController.LoadTable();
                        } else {
                            alert("đã có lỗi");
                        }
                    }
                });
            },

        };
        myController.init();
        function operateFormatter_Update(e, value, row, index) {

            return [
                '<div style="width:105px">',
                '<a class="btn btn-outline btn-success btn-sm" title="Xem/ sửa thông tin" href="javascript:myController.LoadDetal(' + value.idNhanVien + ')" ><i class="fa fa-search"></i></a>',
                '<a class="btn btn-outline btn-danger btn-sm" style="margin-left:2px" title="Xóa thông tin" href="javascript:myController.deleteData(' + value.idNhanVien + ')" ><i class="fa fa-trash"></i></a>',
                '</div>'
            ].join('');
        };
    </script>
}
<div class="col-sm-12">
    <div class="card">
        <div class="card-header text-center">
            <h5>Quản lý nhân viên</h5>
        </div>
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-7">
                    <div class="table-responsive">
                        <table id="tbl_NhanVien"
                               data-toggle="table"
                               data-classes="table table-bordered table-hover reponsive"
                               data-mobile-responsive="true"
                               data-search="true"
                               data-fixed-columns="true"
                               data-show-export="true"
                               data-pagination="true"
                               data-page-size="15"
                               data-page-list="[15, 25, 35, all]">
                            <thead class="">
                                <tr class="trTable">
                                    <th data-formatter="operateFormatter_Update" data-sortable="true">Chức năng</th>
                                    <th data-field="idNhanVien" data-sortable="true">Id nhân viên</th>
                                    <th data-field="ho_ten" data-sortable="true">Họ tên</th>
                                    <th data-field="gio_tinh" data-sortable="true">Giới tính</th>
                                    <th data-field="ngay_sinh" data-sortable="true">Ngày Sinh</th>
                                    <th data-field="luong" data-sortable="true">Lương</th>
                                    <th data-field="trang_thai" data-sortable="true">Trạng thái</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="col-lg-12 m-b-10">
                        <button class="btn btn-warning btn-sm" id="btn_Them">Thêm </button>
                        <button class="btn btn-info btn-sm" id="btn_Sua">Sửa</button>
                        <button class="btn btn-danger btn-sm" id="btnXoa">Xóa</button>
                    </div>

                    <div class="col-lg-12">

                        <div class="col-lg-12">
                            <label>Họ tên</label>
                            <input type="text" id="ho_ten" class="form-control" />
                        </div>

                        <div class="col-lg-12">
                            <label>Giới tính</label>
                            <select id="gioi_tinh" class="form-control">
                                <option value="">-- Chọn giới tính --</option>
                                <option value="Nam">Nam</option>
                                <option value="Nữ">Nữ</option>
                            </select>
                        </div>

                        <div class="col-lg-12">
                            <label>Ngày sinh</label>
                            <input type="date" id="ngay_sinh" class="form-control" />
                        </div>

                        <div class="col-lg-12">
                            <label>Lương</label>
                            <input type="number" id="luong" class="form-control" />
                        </div>
                        <div class="col-lg-12">
                            <label>Trạng Thái</label>
                            <input type="checkbox" id="isTrangThai" class="custom-control" style="width:50px" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

