
@{
    Layout = null;
}
@section js{


}
<!DOCTYPE html>
<html lang="en">

<head>

    <title>Ablepro v8.0 bootstrap admin template by Phoenixcoded</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
    <!-- Favicon icon -->
    <link rel="icon" href="~/Assets/images/favicon.ico" type="image/x-icon">

    <!-- vendor css -->
    <link rel="stylesheet" href="~/Assets/css/style.css">

    <link href="~/Assets/SP/ThongBao/jquery.toast.css" rel="stylesheet" />
    <link href="~/Assets/SP/Select2/select2.min.css" rel="stylesheet" />
    <link href="~/Assets/SP/sweet alert/sweetalert.css" rel="stylesheet" />
</head>
<body>
    <!-- [ auth-signin ] start -->
    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="card">
                <div class="row align-items-center text-center">
                    <div class="col-md-12">
                        <div class="card-body">
                            <img src="assets/images/logo-dark.png" alt="" class="img-fluid mb-4">
                            <h4 class="mb-3 f-w-400">Signin</h4>
                            <div class="form-group mb-3">
                                <label class="floating-label" for="Email">Email address</label>
                                <input type="text" class="form-control" id="Email" placeholder="">
                            </div>
                            <div class="form-group mb-4">
                                <label class="floating-label" for="Password">Password</label>
                                <input type="password" class="form-control" id="Password" placeholder="">
                            </div>
                            <div class="form-group mb-4">

                                <select class="select2 form-control col-sm-12" id="cbTen" style="text-align-last">

                                    <option value="AL">Alabama</option>
                                    <option value="WY">Peter</option>
                                    <option value="WY">Peter</option>
                                    <option value="WY">Peter</option>
                                    <option value="WY">Peter</option>
                                    <option value="WY">Peter</option>
                                    <option value="WY">Peter</option>
                                    <option value="WY">Hanry Die</option>
                                    <option value="WY">John Doe</option>

                                </select>
                            </div>
                            <div class="custom-control custom-checkbox text-left mb-4 mt-2">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Save credentials.</label>
                            </div>
                            <button class="btn btn-block btn-primary mb-4" id="btndangnhap">Signin</button>
                            <p class="mb-2 text-muted">Forgot password? <a href="auth-reset-password.html" class="f-w-400">Reset</a></p>
                            <p class="mb-0 text-muted">Don’t have an account? <a href="auth-signup.html" class="f-w-400">Signup</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ auth-signup ] end -->
    <!-- Required Js -->
    <script src="~/Assets/js/vendor-all.min.js"></script>
    <script src="~/Assets/js/plugins/bootstrap.min.js"></script>
    <script src="~/Assets/js/ripple.js"></script>
    <script src="~/Assets/js/pcoded.min.js"></script>
    <script src="~/Assets/SP/Select2/select2.full.min.js"></script>
    <script src="~/Assets/SP/ThongBao/jquery.toast.js"></script>
    <script src="~/Assets/SP/sweet alert/sweetalert.min.js"></script>
    <script src="~/Assets/SP/bootbox/bootbox.min.js"></script>
    <script src="~/Controllers/js/DangNhap.js"></script>
</body>

</html>
