
@{
    Layout = null;
}

<nav class="pcoded-navbar menu-light ">
    <div class="navbar-wrapper  ">
        <div class="navbar-content scroll-div ">

            <div class="">
                <div class="main-menu-header">
                    <img class="img-radius" src="~/Assets/images/user/avatar-2.jpg" alt="User-Profile-Image">
                    <div class="user-details">
                        <div id="more-details">UX Designer <i class="fa fa-caret-down"></i></div>
                    </div>
                </div>
                <div class="collapse" id="nav-user-link">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="user-profile.html" data-toggle="tooltip" title="View Profile"><i class="feather icon-user"></i></a></li>
                        <li class="list-inline-item"><a href="email_inbox.html"><i class="feather icon-mail" data-toggle="tooltip" title="Messages"></i><small class="badge badge-pill badge-primary">5</small></a></li>
                        <li class="list-inline-item"><a href="auth-signin.html" data-toggle="tooltip" title="Logout" class="text-danger"><i class="feather icon-power"></i></a></li>
                    </ul>
                </div>
            </div>
            @*begin menu*@
        <ul class="nav pcoded-inner-navbar ">
            <li class="nav-item pcoded-menu-caption">
                <label>Cac Chức năng</label>
            </li>

            <li class="nav-item"><a href="/DashBoard" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Thong ke</span></a></li>

            <li class="nav-item"><a href="/QuanLyHienVat" class="nav-link "><span class="pcoded-micon"><i class="feather icon-gitlab"></i></span><span class="pcoded-mtext">Quan Ly Hien Vats</span></a></li>
            <li class="nav-item"><a href="/Hoc-Jquery" class="nav-link "><span class="pcoded-micon"><i class="feather icon-gitlab"></i></span><span class="pcoded-mtext">học jquery</span></a></li>
          
              <li class="nav-item"><a href="/Bai-Tap" class="nav-link "><span class="pcoded-micon"><i class="feather icon-gitlab"></i></span><span class="pcoded-mtext">Bai Tap</span></a></li>
              <li class="nav-item"><a href="/Danh-Muc-He-Thong" class="nav-link "><span class="pcoded-micon"><i class="feather icon-gitlab"></i></span><span class="pcoded-mtext">Danh Muc He Thong</span></a></li>
              <li class="nav-item"><a href="/Bai-Tap-Thuc-Hanh" class="nav-link "><span class="pcoded-micon"><i class="feather icon-"></i></span><span class="pcoded-mtext">Bai Tap Thuc Hanh</span></a></li>
              <li class="nav-item"><a href="/KN-CSDL" class="nav-link "><span class="pcoded-micon"><i class="feather icon-"></i></span><span class="pcoded-mtext">Kết nối CSDL</span></a></li>
              <li class="nav-item"><a href="/Them-Moi-Sua-Xoa" class="nav-link "><span class="pcoded-micon"><i class="feather icon-"></i></span><span class="pcoded-mtext">Thêm Mới Sửa Xóa</span></a></li>
              <li class="nav-item"><a href="/BT-KetNoi-CSDL" class="nav-link "><span class="pcoded-micon"><i class="feather icon-"></i></span><span class="pcoded-mtext">Bài Tập Kết Nối CSDL</span></a></li>
              <li class="nav-item pcoded-hasmenu">
                  <a href="#!" class="nav-link has-ripple"><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span><span class="ripple ripple-animate" style="height: 210px; width: 210px; animation-duration: 0.7s; animation-timing-function: linear; background: rgb(255, 255, 255); opacity: 0.4; top: -82.5px; left: 77px;"></span></a>
                  <ul class="pcoded-submenu">
                      <li class="active"><a href="/OOP-Jquery">Viết Jquery OOP</a></li>
                      <li><a href="/In-Ten-Nhan-Vien">In Tên Nhân Viên</a></li>
                      <li><a href="/Farm-Work">Sử Dụng Farmwork</a></li>
                      <li><a href="/Hoc-Ajax">Hoc Ajax</a></li>
                      <li><a href="/Mon-Hoc">Môn Học</a></li>
                  </ul>
              </li>
        </ul>
            @*end menu*@

            <div class="card text-center">
                <div class="card-block">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="feather icon-sunset f-40"></i>
                    <h6 class="mt-3">Help?</h6>
                    <p>Please contact us on our email for need any support</p>
                    <a href="#!" target="_blank" class="btn btn-primary btn-sm text-white m-0">Support</a>
                </div>
            </div>

        </div>
    </div>
</nav>