
@{
    ViewBag.Title = "OOPJquey";
    Layout = "~/Views/Shared/SharedLayout/ViewAdmin.cshtml";
}

@section js{
    <script src="~/Controllers/js/OOPjquery.js"></script>

}
<div class="col-sm-12">
    <div class="card">

        <div class="card-header text-center">
            <h5>OOP Jquery</h5>
            <div class="card-header-right">
                <div class="btn-group card-option">
                    <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="feather icon-more-horizontal"></i>
                    </button>
                    <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                        <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                        <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                        <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                        <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="col-lg-12 p-40">
                        <div>
                            <label>số a</label>
                            <input type="number" class="form-control" id="txt-soA" placeholder="nhap so a" />
                            <label>số b</label>
                            <input type="number" class="form-control" id="txt-soB" placeholder="nhap so b" />
                            <select id="chonpheptinh" class="form-control" >
                                <option value="">chọn phép tính</option>
                                <option value="+">cộng</option>
                                <option value="-">trừ</option>
                                <option value="*">nhân</option>
                                <option value="/">chia</option>
                            </select>
                        </div>
                        <div>
                            <label>kết quả</label>
                            <input type="number" class="form-control" id="txt-ketqua" placeholder="ket qua" readonly />
                        </div>
                        <div>
                            <button class="btn btn-sm btn-success mt-4" id="tinh">tinh</button>
                            <button class="btn btn-sm btn-success mt-4" id="Re">Resest</button>
                        </div>
                        <div>
                            <label>In kết quả phép tính:</label>
                            <p id="KetQuaIn"></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    
                   
                    
                   

                </div>
            </div>
        </div>
    </div>
</div>

