
@{
    ViewBag.Title = "Baitap";
    Layout = "~/Views/Shared/SharedLayout/ViewAdmin.cshtml";
}

@section js{

    <script src="~/Controllers/js/Baitap.js"></script>

}
<div class="col-sm-12">
    <div class="card">

        <div class="card-header text-center">
            <h5>Quan Ly Hien Vat</h5>
            <div class="card-header-right">
                <div class="btn-group card-option">
                    <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="feather icon-more-horizontal"></i>
                    </button>
                    <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                        <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                        <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                        <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                        <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 border 1px border-black p-4 mt-4 border-bottom" style="margin : 0 auto">
                    <div>
                        <label>Họ:</label>
                    </div>
                    <div>
                        <input type="text" name="name" value="" class="form-control" id="txtHo" placeholder="Họ của bạn..." />
                    </div>
                    <div>
                        <label>Tên:</label>
                    </div>
                    <div>
                        <input type="text" name="name" value="" class="form-control" id="txtTen" placeholder="Tên của bạn..." />
                    </div>
                    <div>
                        <label class="style_tieude">Quốc Gia</label>
                    </div>
                    <div>
                        <select class="form-control" name="" id="txtQG">
                            <option value="">Chọn Quốc Gia</option>
                            <option value="Việt Nam">Việt Nam</option>
                            <option value="Hàn Quốc">Hàn Quốc</option>
                        </select>
                    </div>
                    <div class="row mt-3" style="text-align: center">
                        <div class="col-sm-3">
                            <button class="btn btn-primary col-sm-9 mt-4" id="Them">Thêm</button>
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-primary col-sm-9 mt-4" id="Re">Reset</button>
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-primary col-sm-9 mt-4" id="ReT">Reset Table</button>
                        </div>
                    </div>
                    <div class="row mt-3" style="text-align: center">
                        <div class="col-sm-12">
                            <p id="txtThongTin"></p>
                        </div>
                    </div>


                </div>


            </div>
            <div class="card-body table-border-style">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>

                                <th>STT</th>
                                <th>Tên gọi</th>
                                <th>Ghi chú</th>
                            </tr>
                        </thead>
                        <tbody id="body">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

